.Task{
    background-color: #f6f6f7;
}
.TaskDiv{
    width: 100%;
}
.TaskHeader{
    display: flex;
    padding: 15px 0px;
}
.Button{
    width:100px;
    color: #fff;
    background-color: #37517e;
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.Button:hover{
    color: #fff;
    background: #31a9e1;
    /* transform: scale(1.08); */
}
.TaskName{
    width: 80%;
    display: flex;
    justify-content: center;
}
.Name{
    font-size: 24px;
    font-weight: bolder;
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    line-height: 38px;
}
.ButtonDiv{
    display: flex;
    justify-content: center;
    width: 20%;
}
.TableThShort{
    width: 10%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    background-color: #37517e;
    color: #fff;
}
.TableThLong{
    width: 30%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    background-color: #37517e;
    color: #fff;
}
.Table{
    padding: 0px 20px;
    width: 100%;
}
.Table td, th{
    border: 1px solid #1416195e;
    text-align: left;
    padding: 7px 4px;
}
.TableTdShort{
    width: 10%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
.TableTdLong{
    width: 30%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
.TableThShort:nth-child(2),.TableThShort:nth-child(4){
    text-align: center;
}
.TableTdShort:nth-child(2),.TableTdShort:nth-child(4){
    text-align: center;
}
.TableCss{
    width: 370px;
    word-wrap: break-word;
}


.TableDiv{
    margin: 5px 10px;
    box-shadow: 0px 2px 12px rgb(0 0 0 / 8%);
}
.EditIcon:hover{
    color: #31a9e1;
    cursor: pointer;
}
.EditIcon{
    font-size: 18px;
    margin: 0px 5px;
}
.DeleteIcon{
    font-size: 18px;
    margin: 0px 5px;
}
.DeleteIcon:hover{
    color: red;
    cursor: pointer;
}
.Form{
    display: flex;
    margin: 10px 0px;
}
.TaskProfile{
    height: 100px;
    width:100px;
    background-color: #37517e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TaskIcon{
    color: #fff;
    font-size: 50px;
}
.TaskProfileHeader{
    display: flex;
    padding: 6px 12px;
}
.DeveloperName{
    margin:17px 20px;
}
.Developer{
    border-bottom: 3px solid #31a9e1;
    margin: 10px 0px;
    font-size: 25px;
}

label {
    font-size: 15px;
}
.modal-body{
    padding: 0em 2em 2em 2em;
}
.ErrorDiv{
    width: 74%;
    display: flex;
    justify-content: space-evenly;
}
.ErrorDiv:nth-child(0){
    width: 70%;
}
.ButtonSaveDiv{
    margin:20px;
    display: flex;
    justify-content: center;
}
.ButtonSave{
    width: 100px;
    color: #fff;
    background-color: #37517e;
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    margin: 5px 10px;
}
.ButtonSave:hover{
    color: #fff;
    background: #31a9e1;
}